<div class="flex flex-row">
  <div class="container basic-3/5">
  <header class="header">
    <h1>🌍 My Travel Map</h1>
    <div class="stats">
      <div class="stat-card">
        <span class="stat-number">{{ getVisitedCount() }}</span>
        <span class="stat-label">Countries Visited</span>
      </div>
      <button class="btn-clear" (click)="clearAllVisited()">Clear All</button>
    </div>
  </header>

  <div class="map-container">
    <div id="map"></div>
  </div>
</div>

  <div class="basic-2/5 min-w-64">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Visited Countries</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="country-list flex flex-col gap-[0.8]">
          @if(visitedCountries.length === 0) {
            <div class="empty-state">
              Click on countries in the map to mark them as visited
            </div>
          }
          @for(country of visitedCountries; track country) {
            <span class="country-item"> {{ country.name }}</span>
          }
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>