:host {
  display: block;
  height: 100vh;
  position: relative;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

#map {
  height: 90vh;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}

.visited-list {
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  overflow-y: auto;
}

.visited-list h3 {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.visited-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visited-list li {
  padding: 2px 0;
}